#define IDM_ 1
#ifndef IDOK
  #define IDOK 1
#endif
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif

#include "Resource.h"

IDD_ABOUT DIALOGEX 5,5,201,93
CAPTION "О программе"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU
BEGIN
  CONTROL "Ok",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,105,66,40,15
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,150,66,40,15
  CONTROL "ActiveTime v1.0",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,66,12,99,9
  CONTROL "",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,18,15,21,18
  CONTROL "Copyright (C) 2014",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,66,27,99,9
  CONTROL "Created by SlaFF",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE,66,42,99,9
END

IDR_MAINFRAME MENU
BEGIN
  POPUP "Файл"
  BEGIN
    MENUITEM "Открыть...",IDC_FILE_OPEN
    MENUITEM "Сохранить как...",IDC_FILE_SAVEAS
    MENUITEM "Редактировать...",IDC_FILE_EDIT_TIME
    MENUITEM SEPARATOR
    MENUITEM "Закрыть",IDC_FILE_CLOSE
  END
  POPUP "Вид"
  BEGIN
    MENUITEM "Строка состояния",IDC_VIEW_STATUSBAR,CHECKED
    MENUITEM "Панель управления",IDC_VIEW_TOOLBAR,CHECKED
    POPUP "График"
    BEGIN
      MENUITEM "За текущую неделю",IDC_RBN_CURRENT_WEEK
      MENUITEM "За текущий месяц",IDC_RBN_CURRENT_MONTH
      MENUITEM "За текущий год",IDC_RBN_CURRENT_YEAR
      MENUITEM "За последнюю неделю",IDC_RBN_LAST_WEEK
      MENUITEM "За последнйи месяц",IDC_RBN_LAST_MONTH
      MENUITEM "За последний год",IDC_RBN_LAST_YEAR
      MENUITEM "За выбранный период",IDC_RBN_CURRENT_WEEK
    END
  END
  POPUP "Помощь"
  BEGIN
    MENUITEM "О программе...",IDC_HELP_ABOUT
    MENUITEM "Справка...",IDC_HELP_HELP
  END
END

IDD_DATE_FILTER DIALOGEX 10,10,375,57
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL|DS_3DLOOK
EXSTYLE WS_EX_STATICEDGE
BEGIN
  CONTROL "Текущая неделя",IDC_RBN_CURRENT_WEEK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,3,3,75,9
  CONTROL "Текущий месяц",IDC_RBN_CURRENT_MONTH,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,3,18,78,9
  CONTROL "Текущий год",IDC_RBN_CURRENT_YEAR,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,3,33,78,9
  CONTROL "",IDC_LST_MONTHS,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,174,3,69,45,WS_EX_CLIENTEDGE
  CONTROL "",IDC_DTP_MIN,"SysDateTimePick32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|DTS_LONGDATEFORMAT,258,6,96,15
  CONTROL "",IDC_DTP_MAX,"SysDateTimePick32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|DTS_LONGDATEFORMAT,258,24,96,15
  CONTROL "Последняя неделя",IDC_RBN_LAST_WEEK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,87,3,75,9
  CONTROL "Последний месяц",IDC_RBN_LAST_MONTH,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,87,18,78,9
  CONTROL "Последний год",IDC_RBN_LAST_YEAR,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,87,33,78,9
END

IDR_TRAY_MENU MENU
BEGIN
  POPUP "tray"
  BEGIN
    MENUITEM "Показать/Спрятать",IDC_SHOW_HIDE
    MENUITEM SEPARATOR
    MENUITEM "Выход",IDC_APP_EXIT
  END
END

IDD_GRAPHIC DIALOGEX 10,10,249,120
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL|DS_3DLOOK
BEGIN
END

IDD_GRAPHIC_POPUP DIALOGEX 10,10,345,201
CAPTION "График"
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
END

IDD_TIME_EDITOR DIALOGEX 6,6,347,210
CAPTION "Редактирование времени"
FONT 8,"MS Sans Serif",0,0,0
MENU IDR_TIME_EDITOR
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_LVI_TIME,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_SHOWSELALWAYS|LVS_SINGLESEL|LVS_REPORT,12,69,309,129,WS_EX_CLIENTEDGE
  CONTROL "Active time",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE,14,18,54,9
  CONTROL "Passive time",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE,14,33,54,9
  CONTROL "Sleep time",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE,14,47,54,9
  CONTROL "",IDC_EDT_ACTIVE_TIME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,74,16,54,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT_PASSIVE_TIME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,74,31,54,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT_SLEEP_TIME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,74,45,54,13,WS_EX_CLIENTEDGE
  CONTROL "Добавить",IDC_TIME_ADD,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,135,15,54,15
  CONTROL "Удалить",IDC_TIME_DEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,135,30,54,15
  CONTROL "Изменить",IDC_TIME_SET,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,135,45,54,15
  CONTROL "Дата",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE,15,3,54,9
  CONTROL "",IDC_EDT_DATE,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,75,0,111,15,WS_EX_CLIENTEDGE
END

IDR_TIME_EDITOR MENU
BEGIN
  POPUP "Время"
  BEGIN
    MENUITEM "Добавить",IDC_TIME_ADD
    MENUITEM "Удалить",IDC_TIME_DEL
    MENUITEM "Изменить",IDC_TIME_SET
  END
END

